/************

I'm using a CSS Reset by Meyer Web 

***************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************

Start of my CSS Code 

*********************/



/* Home Page CSS Style ok*/


body {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.2em;
  margin-bottom: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;

  padding-left:  10px;
  padding-right: 10px;
}

/* Navigation Menu ok*/

/* The navigation menu is displayed vertically on mobile */

nav {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 50px;
  background-color: #FFF;
  background: #5bce5b;
  color: #FFF;
}


.logo img {
  display: block;
  margin: 0px;
  width: 40%;
  height: 70%;
  justify-content: space-between;
  padding-top: 10px;
  
}

.menu-nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;


  padding: 1em 1.5em;
}
.menu-nav ul {
  list-style-type: none;
}

.menu-nav ul li {
  padding: 1em 1.5em;
  text-align: center;
}


/* Homepage Header */

/* The header has a background image and a title, text and a button */

header {
  background-image: url("../images/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align:left;
  padding-top: 12em;
  padding-bottom: 12em;
 
}

.header-section {
  text-align: left;

  top: 20%;
  bottom: 50%;

  margin: auto;
  max-width: 900px;

}

h1 {
  color: white;
  font-size: 2.5em;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 10px;
}

.hero-section > p {
  color: white;
  font-size: 1em;

  padding-right: 30%;

  margin-bottom: 30px;
}

/* Featured Products section in the homepage */

main {
  background-color:rgb(226, 212, 226);
}

/* Our story section in the homepage */

.tourstory {
  padding-left: 10em;
}

.ourstory {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  width: 600px;
  height: 338px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 10em;
  margin-right: 5em;
  margin-bottom: 6em;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  font-family: 'Gabriola', sans-serif;
  font-size: 1em;
  float: left;
}


h3 {
  font-family: 'Gabriola', sans-serif;

  padding-bottom: 10px;
}

.ourstory h2, .story-card p {
  color: rgb(0, 0, 0);
}
.ourstory h2 {
  margin-bottom: 2em;
}

.firststore {
  margin-bottom: 20px;
}


/* The Our Story is displayed vertically on mobile and horizontally on desktop */

.ourstory-flex {
  display: flex;
  flex-direction: row;
}

.story-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.story-card p {
  text-align: left;
  margin: 0 2em;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.readmore-button {
  text-align: left;
  margin: 0 2em;
  font-size: 1.2em;
  padding-bottom: 10px;
}

h2 {
  color: #000000;
  font-family: 'Gabriola', sans-serif;
  text-align: left;
  font-size: 2em;

 
  padding-top: 1em;
  margin-bottom: 1em;
  
}

/* put product images using flex  */
/* Each product has an image */

.product {
  display: flex;
  flex-direction: column;
  float: left;
}

.product img {
  width: 70%;
  height: 100%;
  margin-bottom: 10px;
  border: 0.2em;
  border-color: gray;
}

.product p {
  font-size: 1.1em;
  
  margin-bottom: 10px;
}

/* The featured section shows a grid with 4 products in a row on mobile. */

.featured-container{
  clear: left;
  margin-left: 10em;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

}

.featured-grid:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.featured-grid:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.featured-grid:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.featured-grid:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* About us information in the homepage */
/* The info section is displayed vertically on mobile, and it has a title, paragraphs, a button to go to the About page and an image */

.home-info{
  margin-left: 10em;

}

.home-info h2 {
  color: #000000;
  font-family: 'Gabriola', sans-serif;
  text-align: left;


  display: flex;
  flex-direction: column;

  margin-top: 20px;
  text-align: left;
  
}

.home-info div {
  margin-bottom: 30px;
  background-size: cover;

}

.scard h3{
  width: 400px;
  float:left;
  margin-left: 5em;
  font-size: 15pt;
  font-weight: bold;
  font-family: 'MyradVariable', serif;
  white-space: pre;
}

.calendar img {
  width: 60%;
  height: 60%;
  float: right;
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 10em;
}


/* Footer Section ok*/
/* The footer section has a backround colour and is displayed horizontally on mobile */

footer {
  background-color:#5bce5b;

  padding: 10px;
  color: white;

  display: flex;
  flex-direction: column;
}

footer p {
  text-align: center;
  font-size: .5em;
}

footer a {
  color: white;
}


.sns li{
  text-decoration: none;
  float: right;
  margin-right: 10px;
}

.fa-brands {
  color: white;
}

footer a:hover {
  color: #5bce5b;
}

.fa-brands:hover {
  color: #5bce5b;
}

ul {
  list-style: none;
} 

/***********

Product.html Page CSS Style 


*************/

/* The Menu title has a bacckground image and the text is centred */

.product-container{
  display: flex;
  flex-direction: column;
}

.product-title h1{
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 50pt;
    font-family: 'Gabriola', sans-serif;
    text-align:center;
    padding-top: 1em;
    margin-bottom: 1em;
}

 /* The Featured products section will be displayed in 3 columns */

 .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr) ;
}

.product-category{
    font-family: 'Gabriola', sans-serif;
    font-weight: bold;
    font-size: 250%;
    text-align: center;
    margin: 1em;
}

.product-category img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.product{
    font-family: Arial;
    font-size: 150%;
    text-align: center;
    margin: 1em;
    justify-content: center;
	align-items: center;
}

.product img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.button2 {

    display: block;
    text-align: center;
    width: 240px;
    color: white;
    background-color: #5bce5b;
    border-color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2em;
    margin-bottom: 1.3em;
}

.button2:hover {
    background-color: #312C74;
}


/* The heading is aligned to the left */

.left-heading {
    text-align: left;
}


/***********

about.html Page CSS Style 


*************/

/* The Our Story has 3 images and is displayed vertically on mobile and in 2 columns on desktop */

.ourstory-title{
  text-align: left;
  font-size: 20pt;
  margin-left: 2em;
  padding-top: 1em;
}

.ourstory-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
 align-items: center;
}

.flex-ourstory {
   display: flex;
   flex-direction: column;
   padding-bottom: 1em;
}

.origins{
   width: 500px;
   height: 200px;
   padding: 1em;
   margin: 2em;
   background-color: white;
}

.origins h3 {
   font-size: 30pt;
   font-weight: bold;
}

.origins p {
   font-family: 'Gabriola', sans-serif;
   font-size: 15pt;
}

.concept {
   width: 500px;
   height: 200px;
   padding: 1em;
   margin: 2em;
   background-color: white;
}

.concept h3 {
   font-size: 30pt;
   font-weight: bold;
}

.concept p {
   font-family: 'Gabriola', sans-serif;
   font-size: 15pt;
}

.mission {
   width: 500px;
   height: 200px;
   padding: 1em;
   margin: 2em;
   background-color: white;
   
}

.mission h3 {
   font-size: 30pt;
   font-weight: bold;
}

.mission p {
   font-family: 'Gabriola', sans-serif;
   font-size: 15pt;
}

.ophoto {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.ophoto img {
  
   width: 125%;
   height: 230px;
}


/***********

Contact.html Page CSS Style 


*************/

/* The Contact has several empty spaces for the input of personal information and is displayed vertically on mobile */

.contact-flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.contact-title h2{
    text-align: left;
    margin-left: 5em;
    font-size: 30pt;
    float: left;
}

.contact-title p{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    padding-top: 2em;
}

.messagearea .form{
	display: flex;
	justify-content: center;
	align-items: center;
    margin-left: 10em;
}

.name, .email, .tel, .message{
    margin-bottom: 3em;
    white-space: pre;
}

label{
    margin-right: 2em;
}

input[type=text] {
    width: 500px;
    height: 2em;
}  

textarea{
    width: 500px;
    height: 10em;
    text-align: left;
}

.form {
    padding-bottom: 1.5rem;
}

.submit-button{
    margin-left: 13em;
}

/***************

Desktop Version (More than 900px)

****************/



/* Homepage CSS Style */



@media screen and (min-width: 900px) {

  /* The Menu will change to horizontal when the screen is bigger than 900px */

  nav {
      display: flex;
      flex-direction: row;
  }

  .menu-nav ul {
      display: flex;
      flex-direction: row;
  }

  .logo img {
      width: 150px;
  }

  /* The Featured products section will be displayed in 4 columns */

  .featured-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr ;
  }

  /* The services will be displayed horizontally on desktop size */

  .service-flex {
      display: flex;
      flex-direction: row;
  }

  /* The About info in the homepage is going to split into 2 columns, one for the title, paragraphs and button and the other column with the image */

  .home-info {
      display: flex;
      flex-direction: row;
      gap: 10px;
  }

  /* The footer will be displayed horizontally on desktop version */

  footer {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
  }

  footer img {
      width: 100px;
  }

  /* Whith the screen size more than 900px, the buttons to add to cart will shake when the mouse hovers.  */

  @keyframes product-swing {
      15% {
          transform: translateX(5px);
      }
      30% {
          transform: translateX(-5px);
      }
      50% {
          transform: translateX(3px);
      }
      65% {
          transform: translateX(-3px);
      }
      80% {
          transform: translateX(2px);
      }
      100% {
          transform: translateX(0);
      }
  }

  .button2:hover {
      animation: product-swing 0.5s ease;
      animation-iteration-count: 1;

  }

  /* Whith the screen size more than 900px, the photos of products will shrink when the mouse hovers */

  .product a img {
      transition: 0.2s ease-in-out;
  }

  .product a img:hover {
      transform: scale(.9);
  }

    /* Whith the screen size more than 900px, the menu links will grow a little bit when the mouse hovers */

  .menu-nav ul li a {
      transition: 0.2s ease-in-out;
  }
  .menu-nav ul li:hover {
      transform: scale(1.2);
  }

  .button1 {
      transition: 0.2s ease-in-out;
  }

/* Ourstory.html desktop version */


/* The about information will be displayed in 2 columns in desktop size. One for the text at the left and one for the image on the right */

  .flex-ourstory {
      display: flex;
      flex-direction: row;
  }

/* The team section will be displayed horizontally when the screen is more than 900px */

  .ophoto, .origins, .concept, .origins {
      display: flex;
      flex-direction: row;
      gap: 1em;
  }

  .ourstory-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }
/* Each team member photo will shrink a little when the mouse hovers */

  .ophoto img {
      transition: 0.2s ease-in-out;
  }

  .ophoto img:hover {
      transform: scale(.9);
  }

  /* Contact.html desktop version */


  /* The about information will be displayed in 2 columns in desktop size. One for the text at the left and one for the image on the right */

  .flex-about {
  display: flex;
  flex-direction: row;
}

}