/************

I'm using a CSS Reset by Meyer Web 

***************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************

Start of my CSS Code 

*********************/

/***************

Desktop Version

****************/



/* Home Page CSS Style ok*/


body {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.2em;
  margin-bottom: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;

  padding-left:  10px;
  padding-right: 10px;
}

/* Navigation Menu ok*/

/* The navigation menu is displayed vertically on mobile */

nav {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 50px;
  background-color: #FFF;
  background: #5bce5b;
  color: #FFF;
}


.logo img {
  display: block;
  margin: 0px;
  width: 40%;
  height: 70%;
  justify-content: space-between;
  padding-top: 10px;
  
}

.menu-nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;


  padding: 1em 1.5em;
}
.menu-nav ul {
  list-style-type: none;
}

.menu-nav ul li {
  padding: 1em 1.5em;
  text-align: center;
}


/* Homepage Header */

/* The header has a background image and a title, text and a button */

header {
  background-image: url("../images/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align:left;
  padding-top: 12em;
  padding-bottom: 12em;
 
}

.header-section {
  text-align: left;

  top: 20%;
  bottom: 50%;

  margin: auto;
  max-width: 900px;

}

h1 {
  color: white;
  font-size: 2.5em;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 10px;
}

.hero-section > p {
  color: white;
  font-size: 1em;

  padding-right: 30%;

  margin-bottom: 30px;
}



/*Creates nav for mobile*/
.index-ourstory{
  display: flex;
}
.card img{
  height: 300px;
  width: 300px;
  padding: auto;
}

.bread-photos {
  display: flex;
}

.bread-photos img{
  height: 300px;
  width: 300px;
}

.schedule {
  display: flex;
}

.schedule img{
  height: 900px;
  width: 900px;
}

/* Footer Section ok*/

/* The footer section has a backround colour and is displayed horizontally on mobile */

footer {
  background-color:#5bce5b;

  padding: 10px;
  color: white;

  display: flex;
  flex-direction: column;
}

footer p {
  text-align: center;
  font-size: .5em;
}

footer a {
  color: white;
}


.sns li{
  text-decoration: none;
  float: right;
  margin-right: 10px;
}

.fa-brands {
  color: white;
}

footer a:hover {
  color: #5bce5b;
}

.fa-brands:hover {
  color: #5bce5b;
}

ul {
  list-style: none;
} 

