@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Gabriola', sans-serif;
  box-sizing: border-box;
}

h2 {
  font-family: 'Afterglow', sans-serif;
}
h3,
h4, 
h5, 
h6{
    font-family: 'MyradVariable', sans-serif;
}


.top-nav .logo {
  display: flex;
  align-items: center;
  grid-gap: 6px;
}

.top-nav .logo img {
  width: 100px;
  border-radius: 50%;
}

.menu>li a {
  color: white;
  text-decoration: none;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  background: #5bce5b;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.container {
  z-index: 99;
  position: relative;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

/* banner */
.banner{
  max-width: 100%;
  height: 50vh;
  background-image: url("images/cake_banner.jpg");
  position: relative;
  background-size: cover;
}

/*Creates nav for mobile*/
.index-ourstory{
  display: flex;
}
.card img{
  height: 300px;
  width: 300px;
}

.bread-photos {
  display: flex;
}

.bread-photos img{
  height: 300px;
  width: 300px;
}

.schedule {
  display: flex;
}

.schedule img{
  height: 900px;
  width: 900px;
}

/* -----footer----- */
footer {
  color: #fff;
  padding: 10px;
  background-color: #5bce5b;
  margin: auto;
  text-align: center;
}

footer a {
  color: white;
}

footer li {
  text-decoration: none;
}

.fa-brands {
  color: white;
}

footer a:hover {
  color: #5bce5b;
}

.fa-brands:hover {
  color: #5bce5b;
}

ul {
  list-style: none;
} 
